<%- include("includes/head", {pageTitle: "an error"}) %>
</head>
<body>
  <%- include("includes/header") %>
  <main>
    <h1>Not authenticated, 401.</h1>
    <p><a href="/"  class="btn">Back to landing page</a></p>
  </main>
<%- include("includes/footer") %>
