<header>
  <div><a href="/">WDDE</a></div>
  <nav>
    <ul>
      <% if (locals.isAuth) { %>
      <form action="/logout" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
        <button>Logout</button>
      </form>
      <% } %>
    </ul>
  </nav>
</header>
